a.mat-menu-item {
  text-decoration: none;
  color: black;
}

.home-link {
  height: 100%;
  padding: 6px 0 0;
  overflow: hidden;
  color: white;
  text-decoration: none;
}

.logo {
  height: 80%;
}

.mat-toolbar.mat-primary {
  background: transparent;
  border-bottom: 8px double #303240;
}

mat-icon {
  color: #303240;
}
